
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/.idea/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/*.sql

/public/jsons/*
!/public/jsons/.gitkeep

/public/uploads/accounts/*
!/public/uploads/accounts/.gitkeep

/public/uploads/publications/*
!/public/uploads/publications/.gitkeep

/public/uploads/social/*
!/public/uploads/social/.gitkeep

/public/uploads/thumbnails/*
!/public/uploads/thumbnails/.gitkeep

/public/uploads/draft/*
!/public/uploads/draft/.gitkeep